<h1>Find your brew to leave a review</h1>


<form action="http://localhost:3000/uniques/match">
    <div>
      <label for="first" >Input Brew Number</label>
      <input name="new_number" type="text" id="first">
      <input align="right" type="submit" value="Find your brew">
    </div>
  </form>


