<h1>Find your brew to leave a review</h1>


<form action="localhost:3000/uniques/input_form.html.erb">
    <div>
      <label for="first" >Input Brew Number</label>
      <input name="first_name" type="text" id="first">
      <input align="right" type="submit" value="Find your brew">
    </div>
  </form>
