<!-- Responsive panel example-->
<div class="page-header">
<div class="row">
<div class="row-height">
</div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Style #<%= @style.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal">
                <dt>Std flavor profile</dt>
                <dd><%= @style.std_flavor_profile %></dd>

                <dt>Example</dt>
                <dd><%= image_tag @style.com_ex_image, :height => '65%', :width => '65%'   %></dd>

              </dl>
              <div class="btn-group btn-group-justified">
                <%= link_to icon('chevron-left'), styles_path, class: "btn btn-primary" %>
                  <%# if current_user.email == "p1@example.com" %>
                <%#= link_to icon('edit'), edit_style_path(@style), class: "btn btn-warning" %>
                <%#= link_to icon('trash-o'), @style, method: :delete, data: { confirm: "Do you really want to delete this style?" }, class: "btn btn-danger" %>
                  <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- End responsive panel example -->
