<div class="page-header">
  <h1>
    <i><font color="darkblue">"For Brewers, By Brewers"</font></i>
  </h1>
</div>
    <p><h4><i><font color="black">The Brewer's Edge is a social network for the home beer brewing community, brewers and fans, where the brewing creations get the focus.</font></i></h4>
    <p><h5>There's a couple of things that we're extrememly passionate about: Solving business problems through technology, and brewing beer.  As brewers, we've found that getting real, open and honest feedback about our creations was hard to come by. We wanted the kind of feedback that would really take our brewing to the next level.  But when you're primarily giving your beers away to family and friends, you're likely only going to get the kind of feedback that you <i>want</i> to hear, and not the feedback that you <i>need</i> to hear. Why is that? Simple. You're giving away the best beverage in the world and friends don't want to risk their supply line!</h5></p>
    <p><h5>Most of the home brewers we've come across are doing something else full-time, and don't have schedules that will allow them to enter their creations into sanctioned home brewing competitions, either through their local brewing club or as individuals. Nano and Microbreweries have a similar problem where they give out many ounces of tasters to many of their fans, either in their tap rooms or at one of many beer festivals they visit promoting their brand. Once that beer is gone, you can forget about an organized mechanism to get real feedback.</h5></p>
    <p><h5>Naturally, after some thought we came up with the best way to solve this problem - We'll apply some tech to it! So about a year ago we came up with the concept for The Brewer's Edge - A sort of on-line community that enables us to get real feedback on our real world creations through a patent-pending business process and also organically creates an online community for brewers to share brewing information, tips, tricks and techniques, with one another.</h5></p>

    <p><h5>The great thing is that The Brewer's Edge is completely free for home brewers - you can sign up with absolutely no obligation at all. We hope that you continue to use the tool and as a result raise your game as a brewer.</h5></p>

