<div class="page-header">
  <h1>
    <i><font color="darkblue">"For Brewers, By Brewers"</font></i>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p><h4><i><font color="black">The Brewer's Edge is a social network for the home brewers and fans of craft beer. Only here the focus is on the beer.</font></i></h4>

        <p><h5>Two things that we are extrememly passionate about - solving business problems with the latest and greatest technology, and brewing (and drinking) beer.  As brewers, it's been our experience that getting real, open and honest feedback about our creations is hard to come by. We wanted the kind of feedback that would really challenge us to take our brewing to the next level.  But when you're primarily giving your beers away to family and friends, you're likely only going to get the kind of feedback that you <i>want</i> to hear, and not the feedback that you <i>need</i> to hear. Why? Simple. You're giving away the best beverage in the world and friends don't want to mess up their supply lines!</h5></p>

        <p><h5>Most of the home brewers we've come across are doing something else full-time, and don't have flexible enough schedules to allow them to enter their creations into sanctioned home brewing competitions as much as they'd like, either through their local brewing club or as individuals. Nano and Microbreweries have a similar problem where they give out many ounces of beer to many of their fans, either in their tap rooms or at one of many beer festivals they visit promoting their brand, and have no real way of getting quality feedback.</h5></p>

        <p><h5>Naturally, after some thought we came up with the best way to solve this problem - We'll apply some tech to it! So about a year ago we came up with the concept for The Brewer's Edge - A sort of on-line community that enables brewers to get real feedback on their real-world creations. We also want to organically create an online community for brewers to share brewing information, tips, tricks and techniques, with one another.</h5></p>

        <p><h5>The great thing is that The Brewer's Edge is completely free for home brewers - you can sign up with absolutely no obligation at all. We hope that you continue to use the tool, challenge your brewing abilities and raise your game as a home brewer.</h5></p>
    </div>
  </div>

<br>

  <div class="row" align="center">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "water.png", :height => '50%', :width => '50%', :class => "img-circle" %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "hops.png", :height => '50%', :width => '50%', :class => "img-circle" %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "barley.png", :height => '50%', :width => '50%', :class => "img-circle" %>
    </div>
  </div>
</div>
