<div class="page-header">
  <h1>
    Frequently Asked Questions
  </h1>
</div>
    <p><h4><i><font color="darkblue">What is the Brewer's Edge?</font></i></h4></p>
    <p>The Brewer’s Edge is a web-based application that let’s home brewers promote and collect feedback on their beer while competing against other online breweries for leaderboard status. The application can be accessed easily on any computer or mobile device. The whole idea is that recipes and batches can be improved with objective, honest and anonymous feedback.</p>
    <br>
    <p><h4><i><font color="darkblue">What do I need to download?</font></i></h4></p>
    <p>Nothing. It’s accessible over the web and viewable in every web browser.</p>
    <br>
    <p><h4><i><font color="darkblue">Who is it for?</font></i></h4></p>
    <p>Anyone who brews beer and anyone who drinks home brewed beer. Home brewing clubs can also use TBE for tastings.</p>
    <br>
    <p><h4><i><font color="darkblue">How do I access the app from my mobile device? Do I have to download anything?</font></i></h4></p>
    <p>Absolutely not. Simply go to thebrewersedge.com to sign up, or log in to access the site.</p>
    <br>
    <p><h4><i><font color="darkblue">How much does it cost?</font></i></h4></p>
    <p>The brewer’s edge is free for home brewers.</p>
    <br>
    <p><h4><i><font color="darkblue">How does it work?</font></i></h4></p>
    <p>It’s easy. Once you register and log in to the site you can upload any of your existing recipes. Batches come from recipes, so once you brew up a particular recipe you simply go on the site and create its batch profile. After the batch has been created you can generate unique numbers that will correspond to that batch (6 at a time, and a maximum of 24 per batch). When the beer’s ready to drink, whether you are bottling, kegging or pouring tasters, simply give one number, along with the beer, to each of your fans. The fans will use that number to access the batch profile when they visit the site.</p>
    <br>
    <p><h4><i><font color="darkblue">Can I get more than 24 unique IDs for a batch?</font></i></h4></p>
    <p>No, not right now. But this may be reconsidered based on demand.  We suggest creating a second virtual batch on the site if you're giving away that much beer. The application will apply a unique ID to each batch so as long as you can distinguish what you're giving out, its all good with us!</p>
    <br>
    <p><h4><i><font color="darkblue">Do fans have to create an account?</font></i></h4></p>
    <p>Yes. Fans and brewers use the same process to create accounts. The only thing that distinguishes a brewer from a fan are uploaded recipes and batches. Anyone can create a simple account (email, password, username) to rate a beer as long as they have a valid unique number. Then, when the fan brews uploads their first recipe we can call them "brewers". </p>
    <br>
    <p><h4><i><font color="darkblue">Can my brewing club use the site?</font></i></h4></p>
    <p>Yes. Clubs are only a collection of individual brewers. We plan on rolling something out that connects a brewer to a particular club (or clubs) in the near future but for now brewing clubs can set up an account with their club name as the username, since all that's required is a valid email and password.  Brewing clubs can create several versions of the same recipe, upload them to the site, create batches and compare the feedback. The best rated batch can represent the club at the next sanctioned competition or club meet up.</p>
    <br>
    <p><h4><i><font color="darkblue">What about my nano or micro brewery?</font></i></h4></p>
    <p>Absolutely!  Nanos and Microbreweries can use The Brewer's Edge to get feedback on their new creations. Maybe testing the slight variations between batches of particular style to see which one is best received by fans. All of this data is collected in one place, and is immediately accessible to the brewer. Contact us directly to find out more. Email us: thebrewersedge@gmail.com</p>
    <br>

    <p><h4 align="center"><i><font color="darkblue">Do you have a quesiton that wasn't addressed here? Email questions or concerns to thebrewersedge@gmail.com</font></i></h4></p>
