<h1>Here are your numbers...</h1>


<%# if @num.present? %>
  <%# @num.each do |num| %>
  <dl>
    <dd><%#= unique.rand_num %></dd>
  </dl>
  <%# end %>
<%# end %>

<% if @u_num.present? %>
    You've created some numbers!
    <%# @u_num.each do |u_num| %>
      <dd><%#= batch.unique.rand_num %></dd>
<% else %>
    No numbers here...
<% end %>
