<!-- <div class="page-header"> -->
  <div class="col-sm-12 col-md-12 col-lg-12" align="center">
    <h1>Find your brew to leave a review</h1>
      <form action="/match_brew">
          <div>
            <label for="new number" >Input Brew Number</label>
            <input name="new_number" type="text" id="first">
            <input align="right" type="submit" value="Find your brew">
          </div>
      </form>
  </div>
<!-- </div> -->
