<h1>Your brew with ID# <%= @mirror.mrand_num %> has been matched!</h1>
<p>Show brew profile information here if there's a successful match...</p>
<hr>
<% if @m.present? %>
  We have a match!!
<% else %>
  Sorry...no match here. Please try again!
<% end %>

<%# if    %>

<%# u = Unique.find_by({:rand_num => params[:new_number) %>

<%# u = unique.mirrors.find_by(:mrand_num => rand_num) %>
<%# if @m.present? %>
<%# u = Unique.find_by({:rand_num => params[:new_number] %>
<%# if u.present? %>
  <!-- <p>We've found a Match!!<%#= unique.batch_id %></p> -->
<%# end %>

<%# else %>
 <!--  Sorry! This number doesn't match any of our brews! Please try again. -->
<%# end %>

<%# b = Batch.find_by({ :id => batch_id}) %>
